In [1]:
import os
import sys
sys.path.insert(0, os.path.dirname(os.getcwd()))

In [2]:
import sqlite3
import os
from datetime import datetime, timedelta
import pandas as pd
from utils.nyt_api_helpers import get_project_root
from utils.feature_helpers import clean_df, gen_full_text_df, combine_text_args_df

In [3]:
db_path = os.path.join(os.path.dirname(os.getcwd()), 'data/test.db')
PATH = get_project_root().joinpath('data/nyt/raw/raw_mkt_articles.csv')
df = pd.read_csv(PATH, index_col=0)
df = combine_text_args_df(gen_full_text_df(clean_df(df)), keep_all_cols=False)
df.index.name = "id"

In [8]:
df1 = df.iloc[:200]
df2 = df.iloc[190:].copy()

In [5]:
df2.reset_index(drop=True, inplace=True)

In [9]:
df1.tail()

,web_url,source,pub_date,full_text,combined_text
id,,,,,
195,https://www.nytimes.com/2023/10/24/business/ec...,The New York Times,2023-10-24 10:30:07+00:00,G.M. Profit Down 7% in Strike-Affected Quarter...,G.M. Profit Down 7% in Strike-Affected Quarter...
196,https://www.nytimes.com/2021/04/29/business/ca...,The New York Times,2021-04-29 08:41:03+00:00,Catch up: Apple and Facebook profits doubled l...,Catch up: Apple and Facebook profits doubled l...
197,https://www.nytimes.com/2022/01/27/technology/...,The New York Times,2022-01-27 21:54:14+00:00,Apple’s profit jumps to $34.6 billion in holid...,Apple’s profit jumps to $34.6 billion in holid...
198,https://www.nytimes.com/2022/08/17/business/ta...,The New York Times,2022-08-17 11:18:34+00:00,Target’s Profit Sinks as It Offloads Inventory...,Target’s Profit Sinks as It Offloads Inventory...
199,https://www.nytimes.com/2022/04/26/technology/...,The New York Times,2022-04-26 20:35:08+00:00,"Microsoft reports rising revenue and profits, ...","Microsoft reports rising revenue and profits, ..."

In [11]:
df2.head(10)

,web_url,source,pub_date,full_text,combined_text
id,,,,,
190,https://www.nytimes.com/2021/10/15/business/go...,The New York Times,2021-10-15 13:44:31+00:00,Goldman Sachs’s profit surges on record merger...,Goldman Sachs’s profit surges on record merger...
191,https://www.nytimes.com/2022/11/26/business/vi...,The New York Times,2022-11-26 08:00:15+00:00,The Excitement Around E-Sports Is Growing. But...,The Excitement Around E-Sports Is Growing. But...
192,https://www.nytimes.com/2023/02/02/business/sh...,The New York Times,2023-02-02 11:59:26+00:00,Shell’s Profit Soared to $42 Billion Last Year...,Shell’s Profit Soared to $42 Billion Last Year...
193,https://www.nytimes.com/2023/08/03/business/ap...,The New York Times,2023-08-03 20:57:30+00:00,"Apple Revenue Drops 1%, but Profit Rises to $1...","Apple Revenue Drops 1%, but Profit Rises to $1..."
194,https://www.nytimes.com/2024/03/09/business/to...,The New York Times,2024-03-09 10:02:31+00:00,Toyota’s Hybrid-First Strategy Is Delivering B...,Toyota’s Hybrid-First Strategy Is Delivering B...
195,https://www.nytimes.com/2023/10/24/business/ec...,The New York Times,2023-10-24 10:30:07+00:00,G.M. Profit Down 7% in Strike-Affected Quarter...,G.M. Profit Down 7% in Strike-Affected Quarter...
196,https://www.nytimes.com/2021/04/29/business/ca...,The New York Times,2021-04-29 08:41:03+00:00,Catch up: Apple and Facebook profits doubled l...,Catch up: Apple and Facebook profits doubled l...
197,https://www.nytimes.com/2022/01/27/technology/...,The New York Times,2022-01-27 21:54:14+00:00,Apple’s profit jumps to $34.6 billion in holid...,Apple’s profit jumps to $34.6 billion in holid...
198,https://www.nytimes.com/2022/08/17/business/ta...,The New York Times,2022-08-17 11:18:34+00:00,Target’s Profit Sinks as It Offloads Inventory...,Target’s Profit Sinks as It Offloads Inventory...
199,https://www.nytimes.com/2022/04/26/technology/...,The New York Times,2022-04-26 20:35:08+00:00,"Microsoft reports rising revenue and profits, ...","Microsoft reports rising revenue and profits, ..."

In [12]:
con = sqlite3.connect(db_path)
cur = con.cursor()

In [36]:
cur.execute("""
CREATE TABLE IF NOT EXISTS NYT_Artiles (
    id INTEGER PRIMARY KEY,
    pub_date TEXT,
    full_text TEXT,
    combined_text TEXT,
    source REAL,
    web_url TEXT
)
""")
con.commit()

In [43]:
cur.execute('SELECT max(id), max(pub_date), min(pub_date) FROM NYT_Artiles')
max_id, max_date, min_date = cur.fetchone()
print(max_date)
print(min_date)
print(max_id)

2024-07-15 14:25:20+00:00
2021-01-26 11:00:22+00:00
330

In [65]:
print("What would you like to do today:")
print("add: Add data from specific timeframe (filters data range to a range not already in database)")
print("update: update the current data with data from todays date")
print('force: force adds data without checking if the data range is already in database')
decision = input("Type a response: ")

What would you like to do today:
add: Add data from specific timeframe (filters data range to a range not already in database)
update: update the current data with data from todays date
force: force adds data without checking if the data range is already in database

In [ ]:
cur.execute('SELECT max(id), max(pub_date), min(pub_date) FROM NYT_Artiles')
max_id, max_date, min_date = cur.fetchone()
max_date = datetime.fromisoformat(max_date)
min_date = datetime.fromisoformat(min_date)

In [88]:
def convert_from_datetime(datetime_obj):
    """Convert Datetime object to format YYYY-MM-DD"""
    if isinstance(datetime_obj, datetime):
        month = datetime_obj.month if int(datetime_obj.month) > 10 else f"0{datetime_obj.month}"
        day = datetime_obj.day if int(datetime_obj.day) > 10 else f"0{datetime_obj.day}"
        return f"{datetime_obj.year}-{month}-{day}"
    else:
        raise ValueError(f"Only type datetime accepted. type {type(datetime_obj)} supplied")

In [89]:
convert_from_datetime(min_date)

'2021-01-26'

In [66]:
if decision.lower().strip() == "add":
    print('add selected')
elif decision.lower().strip() == 'update':
    begin_date = max_date + timedelta(days=1) 
    end_date = datetime.today()
    print('update selected')
elif decision.lower().strip() == 'force':
    print('force selected')
else:
    raise ValueError("add, update, or force must be selected")

force selected

In [49]:
datetime.fromisoformat(max_date) > datetime.fromisoformat(min_date)

True

In [39]:
cur.execute("SELECT name FROM sqlite_master")
cur.fetchall()

[('NYT_Artiles',), ('NYT_Articles',)]

In [41]:
cur.execute("PRAGMA table_info(NYT_Artiles);")
cur.fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'pub_date', 'TEXT', 0, None, 0),
 (2, 'full_text', 'TEXT', 0, None, 0),
 (3, 'combined_text', 'TEXT', 0, None, 0),
 (4, 'source', 'REAL', 0, None, 0),
 (5, 'web_url', 'TEXT', 0, None, 0)]

In [16]:
df1.to_sql(name='NYT_Artiles', con=con, if_exists='append')

200

In [18]:
existing_data = pd.read_sql('SELECT full_text FROM NYT_Artiles', con=con)

In [24]:
new_data = df2[~df2.full_text.isin(existing_data.full_text)]

In [28]:
cur.execute('SELECT max(id), max(pub_date) FROM NYT_Artiles')
max_id, max_date = cur.fetchone()
print(max_date)
print(max_id)

2024-07-15 14:25:20+00:00
199

In [29]:
new_data.index = list(range(max_id+1, max_id+1 + len(new_data)))
new_data.index.name = 'id'

In [31]:
what = new_data.to_sql(name='NYT_Artiles', con=con, if_exists='append')

In [32]:
what

131

In [34]:
cur.execute('SELECT pub_date,full_text FROM NYT_Artiles WHERE id==199')
cur.fetchone()

('2022-04-26 20:35:08+00:00',
 'Microsoft reports rising revenue and profits, despite war and inflation. Its sales of $49.4 billion in the first quarter were up 18 percent from a year earlier. Despite inflation and uncertainty over the war in Ukraine, Microsoft on Tuesday reported financial results that showed little threat to the fundamentals of its business.')

In [35]:
cur.execute('SELECT max(pub_date), full_text FROM NYT_Artiles')
cur.fetchone()

('2024-07-15 14:25:20+00:00',
 'Goldman Sachs’s Revamp Takes Shape With Another Profit Haul. The Wall Street investment bank earned $3 billion in the second quarter, more than double the tally from a year earlier. Goldman Sachs on Monday reported a hefty jump in its quarterly profits as the company continued its climb out of a self-inflicted morass.')

In [67]:
con.close()