In [1]:
import os
import sys
sys.path.insert(0, os.path.dirname(os.getcwd()))

In [2]:
import pandas as pd
import numpy as np
from utils.api_helpers import get_project_root
from utils.feature_helpers import gen_full_text_df, clean_df

In [3]:
PATH = get_project_root().joinpath('data/raw_mkt_articles.csv')
df = pd.read_csv(PATH, index_col=0)

In [36]:
cleaned_df = gen_full_text_df(clean_df(df))

In [47]:
cleaned_df.assign(
    month = lambda x: x.pub_date.dt.month,
    year = lambda x: x.pub_date.dt.year
).assign(
    new_date = lambda x: pd.to_datetime(x.year.astype(str) + '-' + x.month.astype(str) + '-01')
).groupby(["new_date"]).count()

,web_url,source,pub_date,arguments,article_type,full_text,month,year
new_date,,,,,,,,
2021-01-01,3,3,3,3,3,3,3,3
2021-02-01,6,6,6,6,6,6,6,6
2021-03-01,2,2,2,2,2,2,2,2
2021-04-01,12,12,12,12,12,12,12,12
2021-05-01,4,4,4,4,4,4,4,4
2021-06-01,2,2,2,2,2,2,2,2
2021-07-01,11,11,11,11,11,11,11,11
2021-08-01,9,9,9,9,9,9,9,9
2021-09-01,6,6,6,6,6,6,6,6
2021-10-01,23,23,23,23,23,23,23,23
2021-11-01,9,9,9,9,9,9,9,9
2021-12-01,5,5,5,5,5,5,5,5
2022-01-01,16,16,16,16,16,16,16,16
2022-02-01,13,13,13,13,13,13,13,13
2022-03-01,10,10,10,10,10,10,10,10
2022-04-01,20,20,20,20,20,20,20,20
2022-05-01,10,10,10,10,10,10,10,10
2022-06-01,7,7,7,7,7,7,7,7
2022-07-01,20,20,20,20,20,20,20,20
2022-08-01,9,9,9,9,9,9,9,9
2022-09-01,6,6,6,6,6,6,6,6
2022-10-01,16,16,16,16,16,16,16,16
2022-11-01,6,6,6,6,6,6,6,6
2022-12-01,1,1,1,1,1,1,1,1
2023-01-01,6,6,6,6,6,6,6,6
2023-02-01,10,10,10,10,10,10,10,10
2023-03-01,4,4,4,4,4,4,4,4
2023-04-01,9,9,9,9,9,9,9,9
2023-05-01,6,6,6,6,6,6,6,6
2023-06-01,2,2,2,2,2,2,2,2
2023-07-01,16,16,16,16,16,16,16,16
2023-08-01,8,8,8,8,8,8,8,8
2023-09-01,2,2,2,2,2,2,2,2
2023-10-01,8,8,8,8,8,8,8,8
2023-11-01,3,3,3,3,3,3,3,3
2023-12-01,2,2,2,2,2,2,2,2
2024-01-01,6,6,6,6,6,6,6,6
2024-02-01,7,7,7,7,7,7,7,7
2024-03-01,4,4,4,4,4,4,4,4
2024-04-01,9,9,9,9,9,9,9,9
2024-05-01,4,4,4,4,4,4,4,4
2024-06-01,1,1,1,1,1,1,1,1
2024-07-01,1,1,1,1,1,1,1,1